.globalCounter{
width: 300px;
display: flex;
justify-content: center;
}

.counterContainer {
    display: flex;
    flex-direction: row;
    width: 150px;
    justify-content: space-around;
    align-items: center;
    height: 38px;
    margin-bottom: 8px;
    border-radius: 3px;
}

.button {
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: large;
    height: 30px;
    width: 30px;
    border: none;
}

.addButtonContainer {
    display: flex;
    justify-content: center;
    width: 300px;
}